/* region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --boolzap-primary: #eaeaea;
    --boolzap-secondary: #009688;
    --boolzap-light: #dbdbd4;
    --boolzap-lighter: #ffffff;
    --boolzap-notification: #8edafc;
    --boolzap-message-sent: #d5f9ba;
}
body{
    background-color: gray;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    padding: 20px 0;
    margin: 0;
}
/* endregion common */

/* region utilies */
#container{
    margin: auto;
    width: 80%;
    max-width: 1920px;
    height: 95vh;
    display: flex;
    position: relative;
}
/* endregion utilies */

/* region left-container */

.left{
    width: 500px;
    height: 100%;
    background-color: var(--boolzap-lighter);
}

.left > *{
    width: 100%;
}
/* region main-menu-left */
.main-menu{
    background-color: var(--boolzap-light);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid gray;
}
.image-main-menu > img{
    width: 50px;
    border-radius: 50%;
}
.option-main-menu > a {
    color: gray;
}
.option-main-menu > a > i{
    font-size: 25px;
    padding: 0 7px;
}
/* endregion main-menu-left */

/* region notificasion-left */
.notificasions{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 1rem;
}
.symbol-no-notification{
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
}
.symbol-no-notification > a{
    color: #8edafc;
}
.symbol-no-notification > a > i{
    font-size: 20px;
}
.info-notification > a{
    color: gray;
}

/* endregion notificasion-left */

/* region search-left */
.search{
    background-color: var(--boolzap-light);
}
.container-search{
    padding: 5px;
    display: flex;
    width: 100%;
}
.text-search{
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
    gap: 1rem;
    background-color: var(--boolzap-lighter);
}
.btn-search > button > i{
    font-size: 20px;
    color: var(--boolzap-light);
    border: none;
}
.btn-search > button{
    border: none;
    background-color: white;
    padding-left: 5px;
    cursor: pointer;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    border: none;
}
/* endregion search-left */

/* region contacts-left */
.contacts{
    overflow-y: auto;
    height: 73%;

}
.contact{
    display: flex;
    width: 100%;
    padding: 10px;
    position: relative;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--boolzap-light);
}
.contact-image > img{
    width: 50px;
    border-radius: 50%;
}
.contact-info > span{
    color: gray;
}
.time{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
}
/* end region contacts-left */

/* endregion left-container */

/* region right-container*/

.right{
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
}

/* region header-right */
#site-header{
    width: 100%;
    background-color: var(--boolzap-light);
    
}
.container-header{
    padding: 5px 0;
    display: flex;
    margin: auto;
    width: 95%;
    align-items: center;
}
.left-header{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.image-header > img{
    width: 60px;
    border-radius: 50%;
}

.right-header{
    flex-grow: 1;
    text-align: end;
}
.right-header > a{
    color: gray;
}
.right-header > a > i{
    font-size: 20px;
    padding: 0 7px;
}
/* region header-right */

/* region main-right */
#site-main{
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: 85%;
    padding: 50px;
    overflow-y: auto;
}
.container-messages{
    width: 100%;
    margin: 5px auto;

    height:100%;
    position: relative;

}
.message{
    padding: 20px 10px;
    border-radius: 1rem;
    max-width: 400px;
    width: 80%;
    display: flex;
    position: relative;
}
.drowdown > a{
    color: gray;
}
.message-sent{
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--boolzap-message-sent);

}
.message-arrived{
    position: absolute;
    left: 0;
    top: 200px;
    background-color: var(--boolzap-lighter);
}
.time-message{
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: gray;
}
/* endregion main-right */

/* region footer-right */
#site-footer{
    background-color: var(--boolzap-light);
    width: 100%;
    height: 11%;
    bottom: 0;
    left: 0;
    position: absolute;
}
.container-metodology-message{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}
.emonji > a, .vocal-message > a{
    color: gray;
    
}
.emonji > a > i, .vocal-message > a >i{
    font-size: 25px;
}
.write-message{
    flex-grow: 1;
    border-radius: 1rem;
}
.write-message > input{
    padding: 10px;
    border-radius: 0.5rem;
}
/* endregion footer-right */

/* endregion right-container*/

/* media query max-width 991px */
@media  screen and (max-width: 991px) {
    .notificasions, .search, .option-main-menu, .contact-info{
        display: none;
    }
    .contact-image{
        margin: auto;
    }
    .left{
        width: 90px;
    }
    #container{
        height: 100vh;
        width: 100vw;
    }
    .contacts{
        height: 89%;
    }
    body{
        padding: 0;
    }
}
/* endmedia query max-width 991px */

/* media query max-width 540px */
@media  screen and (max-width: 540px) {
    
    .left{
        display: none;
    }
}
/* endmedia query max-width 540px */