*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}

#container{
    margin: 2.5vh auto;
    width: 80%;
    height: 95vh;
    background-color: green;
    display: flex;
}
.left{
    width: 500px;
    height: 100%;
    background-color: aqua;
}
.right{
    width: 100%;
    height: 100%;
    background-color: yellow;
}
